@mixin fondo {
    background-color:$coloruno;
    margin: 0;
    padding: 0;
}

/*generales*/

*{ 
@include fondo
}

body{
    width: auto;
    height: auto;
    @include fondo;
}
.nav-link{
    color: $colordos;
}